body{
    margin: 0px;
    padding: 0px;
}
header{
    width: 100vw;
    height: 100px;
    margin: 0px;
    background-color: rgb(230, 187, 187);
    box-sizing: border-box;
}
nav{
    height: 90px;
    font-size: 20px;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
}
nav ul{
    margin: 0px;
    padding: 0px;
    list-style: none;
    box-sizing: border-box;
}
li{
    display: inline;
    padding: 10px;

}
video{
    width: 600px;
    height: 400px;
}